/* Navigation */
.navigation-container {
    min-height: 10vh;
}

.navigation-text {
    max-width: 300px;
    /* display: none; TODO: on Mobile Screen */
}

.navigation-img {
    max-width: 200px;
    height: auto;
}

/* Page */
.page-container {
    padding: 30px;
    min-height: 90vh;
}

.flex-container {
    display: flex;
    justify-content: space-around;
}

/* List Components */
.list-container-big {
    width: 75%;
    margin: 15px;
}
.list-container-small {
    width: 25%;
    margin: 15px;
}

.list-item {
    margin-bottom: 10px;
    padding: 15px;
}

